.headerDivider{
    height: 44px;
    margin: 10px 0;
}
.wrap{
    max-width: 980px;
    margin: 0 auto;
}
#logo{
    color:#000;
    margin-bottom:0;
    text-align: center;
}
.pageWrap{
    min-height: 100vh
}